@charset "utf-8";
.navbar-nav {
    background-color: #0c266d;
    list-style: none;
    padding: 10px;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffe5ec; 
    color: #333; 
}

h1 {
    color: #B7205D; 
    font-family: 'Times New Roman', Times, serif; 
}

.container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between columns */
}

.column {
    width: 48%; /* Width of each column (adjust as needed) */
    padding: 10px;
    border: 1px solid #0c266d; /* Border for clarity */
    box-sizing: border-box; /* Include padding in width calculation */
}

/* Optional: Add styles for titles */
.column h2 {
    margin-top: 0;
}
