.topnav{
    background-color: #0c266d;
    overflow: hidden;
}

.topnav a{
    color: #fff;
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}
.topnav a:hover{
    color: rgb(238, 238, 238);
    background-color: #61063b;
    text-decoration: none;
}


body {
    font-family: Arial, sans-serif;
    background-color: #ffe5ec; 
    color: #333; 
}
h1{
    color: #61063b;
    text-align: center; 
}
h2{
    color: #61063b;
}
footer {
    background-color: #0c266d;
    padding: 20px;
    text-align: center;
}
.col-md-12 {
    color: #fff;
    font-family: quicksand;
    font-style: normal;
    font-weight: 300;
}
