.navbar-nav {
    background-color: #0c266d;
    list-style: none;
    padding: 10px;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffe5ec; 
    color: #333; 
}
h1,h2{
    color: #61063b;
}
footer {
    background-color: #0c266d;
    padding: 20px;
    text-align: center;
}
.col-md-12 {
    color: #fff;
    font-family: quicksand;
    font-style: normal;
    font-weight: 300;
}