* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffc7ff;
    font-family: Arial, sans-serif; 
}


.topnav{
    background-color: #0c266d;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topnav a{
    color: #fff;
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}
.topnav a:hover{
    color: rgb(238, 238, 238);
    background-color: #61063b;
    text-decoration: none;
}

.topnav-right{
    float: right;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #61063b;
}

.dropdown:hover .dropdown-content {
    display: block;
}


h2{
    
    text-align: center; 
    font-family:cursive;
    text-decoration: underline;
    
}

.image-row {
    display: flex; /*Using flexbox to create a row*/
    justify-content: center;  /* Placing the images in the center*/
    flex-wrap: wrap; /* Allowing the images to wrap to the next row */
}

.image-container {
    text-align: center;
    margin: 20px;
}


.image1, .image2, .image3 {
    width: 100%; 
    max-width: 350px; 
    height: auto; 
    object-fit: cover; 
}

.caption {
    margin-top: 10px;
    font-size: 18px;
}
.container {
    display: flex;
    flex-wrap: wrap; 
}

.image, .sidebar {
    flex: 1;
    padding: 20px;
}

.image4{
    max-width: 250px; 
    height: auto;
}

.sidebar {
    width: 200px; 
    background-color: #f4f4f4;
    padding: 20px;
}

button{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color:#61063b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    
}
footer {
    background-color: #0c266d;
    padding: 20px;
    text-align: center;
    color: #fff; 
    font-family: Arial, sans-serif; 
}

@media screen and (max-width: 768px) {
  
    .topnav a {
        padding: 10px; 
    }
    .image-container {
        margin: 10px; 
    }
    .image, .sidebar {
        padding: 10px; 
    }
    .sidebar {
        width: 100%; 
    }
}


#carouselExampleControls {
    width: 50%; 
    margin: 0 auto; /* Center the carousel horizontally */
    padding: 20px;
}

.carousel-item img {
    max-width: 100%; 
    height: auto; 
}



