* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffc7ff;
}

.navbar-nav {
    background-color: #0c266d;
    list-style: none;
    padding: 10px;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.image-row {
    display: flex; /*Using flexbox to create a row*/
    justify-content: center;  /* Placing the images in the center*/
}

.image-container {
    text-align: center;
    margin: 20px;
}


.image1 {
    width: 350px; 
    height: 350px; 
    object-fit: cover; 
}

.image2 {
    width: 350px; 
    height: 350px; 
    object-fit: cover; 
}

.image3 {
    width: 350px; 
    height: 350px; 
    object-fit: cover; 
}

.caption {
    margin-top: 10px;
    font-size: 18px;
}
.container {
    display: flex;
}

.image {
    flex: 1;
    padding: 20px;
   

}

.image4{
    max-width: 250px;
    height: auto;
    
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    
}
button{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color:#61063b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    
}

/*.image-container {
    text-align: left;
    margin: 20px;
   
}
.sidebar{
    text-align: right;
    line-height: 25px;
}
.image4{
    width: 400px;
    height: auto;
}*/