@charset "utf-8";
.topnav{
    background-color: #0c266d;
    overflow: hidden;
}

.topnav a{
    color: #fff;
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}
.topnav a:hover{
    color: rgb(238, 238, 238);
    background-color: #61063b;
    text-decoration: none;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
    background-color: #ffc7ff;
    background-size: cover; 
    background-position: center;
}

.payment-methods {
    margin-top: 30px; /*  creating space between buttons  */
}

.payment-option {
    font-size: 18px; /* Increasing font size */
    padding: 20px 40px; /* Add padding to make buttons larger */
    margin-bottom: 20px; /* Add margin between buttons */
    background-color: #61063b; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer;
}
footer {
    background-color: #0c266d;
    padding: 20px;
    text-align: center;
}
.col-md-12 {
    color: #fff;
    font-family: quicksand;
    font-style: normal;
    font-weight: 300;
}
