* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffc7ff;
}

.navbar-nav {
    background-color: #0c266d;
    list-style: none;
    padding: 10px;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}
.image-container {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    margin-top: 20px; 
}
.image {
    height: auto; 
    width: auto; 
}