
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffc7ff;
}

.navbar-nav {
    background-color: #0c266d;
    list-style: none;
    padding: 10px;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}


.image {
    height: 300px; 
    width: 400px;
    margin: 20px;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}


#image1 {
    background-image: url('images/Curly_Hair_Goals.jpeg'); 
    display: flex;
    justify-content: center;
}

#image2 {
    background-image: url('images/shades.jpeg'); 
}

#image3 {
    background-image: url('images/Clean_Girl_Aesthetic.jpeg'); 
}
